<template>
  <div id="detail">
    <div v-for="anime in Anime.anime" :key="anime.id">
      <div id="head" class="vertical-cover segment" :style="{ 'background-image': 'url( /storage/anime_cover_images/' + anime.anime_cover + ')' }">
      <div class="content">
        <div class="container">
          <div class="col-md-12 head-title">
            <h1>{{ anime.title }}
              <small style="">{{ anime.title_english }} {{ anime.title_japanese }} {{ anime.title_synonyms }}</small>
            </h1>
            <div class="horizontal list">
              <a href="#" class="button" v-for="category in anime.categories" :key="category.id">{{ category }}</a>
            </div>
          </div>
        </div>
      </div>
        <div class="overlay"></div>
      </div>
      <div class="container">
        <div class="col-sm-12 col-md-3">
          <div class="cover">
            <img style="width:100%" :src="'/storage/anime_poster_images/' + anime.anime_poster" alt="poster">
          </div>
          <div class="action-buttons">
            <button class="button" v-if="authUser && !bookmarkStatus" @click="bookmarkAnime">Bookmark Me</button>
            <button class="button bookmarked" v-if="authUser && bookmarkStatus" @click="removeBookmark(anime.id)">Bookmarked <i class="fa fa-check-circle-o" style="color: #41ff6d;font-size: 15px;" aria-hidden="true"></i></button>
            <Button v-if="!authUser" class="button">Please log in to bookmark</Button>
          </div>
        </div>
        <div id="anime-info" class="col-sm-12 col-md-12">
          <div class="synopsis">
            {{ anime.description }}
          </div>
          <div class="episode-list" style="margin-top: 34px;">
            <div class="row">
              <div class="col-sm-12 col-md-4"><img style="width:100%;margin-bottom: 8px;margin-top: 8px;" src="/images/cvr-eps_297097_1.jpg"></div>
              <div class="col-sm-12 col-md-4"><img style="width:100%;margin-bottom: 8px;margin-top: 8px;" src="/images/cvr-eps_297096.jpg"></div>
              <div class="col-sm-12 col-md-4"><img style="width:100%;margin-bottom: 8px;margin-top: 8px;" src="/images/cvr-eps_297094.jpg"></div>
              <div class="col-sm-12 col-md-4"><img style="width:100%;margin-bottom: 8px;margin-top: 8px;" src="/images/no-img.png"></div>
              <div class="col-sm-12 col-md-4"><img style="width:100%;margin-bottom: 8px;margin-top: 8px;" src="/images/no-img.png"></div>
              <div class="col-sm-12 col-md-4"><img style="width:100%;margin-bottom: 8px;margin-top: 8px;" src="/images/no-img.png"></div>
              <div class="col-sm-12 col-md-4"><img style="width:100%;margin-bottom: 8px;margin-top: 8px;" src="/images/no-img.png"></div>
              <div class="col-sm-12 col-md-4"><img style="width:100%;margin-bottom: 8px;margin-top: 8px;" src="/images/no-img.png"></div>
              <div class="col-sm-12 col-md-4"><img style="width:100%;margin-bottom: 8px;margin-top: 8px;" src="/images/no-img.png"></div>
              <div class="col-sm-12 col-md-4"><img style="width:100%;margin-bottom: 8px;margin-top: 8px;" src="/images/no-img.png"></div>
              <div class="col-sm-12 col-md-4"><img style="width:100%;margin-bottom: 8px;margin-top: 8px;" src="/images/no-img.png"></div>
              <div class="col-sm-12 col-md-4"><img style="width:100%;margin-bottom: 8px;margin-top: 8px;" src="/images/no-img.png"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      routeSlug: this.$route.params.slug,
      // animeObject: {},
      animeError: [],
      bookmarkStatus: false,
    }
  },
  created () {
    this.getAnime();
    this.checkBookmark();
  },
  computed: {
    authUser(){
      return !this.$store.getters.currentUser ? false : this.$store.getters.currentUser;
    },
    Anime(){
      return !this.$store.getters.singleAnime ? false : this.$store.getters.singleAnime;
    },
  },
  methods: {
    getAnime(){
        return this.$store.dispatch('getAnime', this.$route.params.slug)
      },
    // getAnime(){
    //   axios.get('/api/v1/anime/det/' + this.$route.params.slug)
    //     .then(res =>{
    //         this.animeObject = res.data
    //     })
    //     .catch(e =>{
    //         this.animeError.push(e)
    //     })
    //   },
    checkBookmark(){
        // return this.$store.dispatch('getAllBookmarks', this.userId)
      axios.get('/api/v1/bookmark/check/' + this.$route.params.slug)
      .then(response => {
          console.log(response);
          if(response.data.success){
            this.bookmarkStatus = true;
          }else{
            this.bookmarkStatus = false;
          }
      })
      .catch(e =>{
        console.log(e);
      });
    },
    bookmarkAnime(){
          // this.user_id = this.userObject.data.name;
        this.anime_id = this.animeObject.data.id;
        // console.log(this.name)
        axios.post('/api/v1/bookmark',{anime_id: this.anime_id})
        .then(response => {
            console.log(response);
            // this.getUser()
            this.getAnime();
            this.bookmarkStatus = true;
        })
        .catch(e =>{
          console.log(e);
        });
      },
    removeBookmark(id){
        axios.get('/api/v1/bookmark/delete/' + id)
          .then(res =>{
            console.log(res);
            // this.getAnime();
            this.getAnime();
            this.bookmarkStatus = false;
          })
          .catch(error =>{
            console.log(error);
          })
      }
  }
}
</script>
