<template>
    <div class="container" style="margin-top:20px">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Example Component</div>

                    <div class="card-body" v-for="user in users" :key="user.id">
                        <h2>{{ user.name }}</h2>
                        <p>{{ user.email }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
    export default {
        data () {
            return {
                users:[],
                animes:[],
                errors: []
            }
        },
        created () {
            this.getUser(),
            this.getAnime()
        },
        methods: {
          getUser(){
              axios.get('/api/v1/u/truesama')
                .then(res =>{
                    this.users = res.data
                })
                .catch(e =>{
                    this.errors.push(e)
                })
          },
          getAnime(){
              axios.get('/api/v1/animes')
                .then(res =>{
                    this.animes = res.data
                })
                .catch(e =>{
                    this.errors.push(e)
                })
          }  
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
