/* TrueAnime CSS styles
-------------------------------------------------- */


html {
  position: relative;
  min-height: 100%;
}

body {
  /* Show it is fixed to the top */
  min-height: 75rem;
  padding-top: 4.5rem;
  margin-bottom: 60px;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Muli',sans-serif;
  font-size: .875em;
  color: #fff;
  background: #232d3a;
  -webkit-font-smoothing: antialiased;
}


body #main {
  padding: 13px 0px 0;
}

a {
  color: #877cf7;
}

a:hover {
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:visited {
  text-decoration: none;
  /* color: white; */
}

a:active,
a:hover {
  outline: 0;
}

::selection {
  background-color: #0922e5 !important;
  color: #f9f9f9;
}

button:focus {
  outline: 1px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}

.button {
  padding: 8px 18px !important;
  font-size: 12px;
  border-radius: 5px;
  letter-spacing: .05em;
  transition: all .2s ease;
}

footer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 2px #2e3948 solid;
  position: absolute;
  bottom: 0;
  padding: 0 1.125em;
  margin-top: 1rem;
  height: 3.075em;
  width: 100%;
  line-height: 60px;
}

footer .item.brand {
  margin: .25em .75em 0 0;
}

footer .item.brand img {
  height: auto;
  width: 2.25em;
}

footer .item {
  -webkit-transition: color .15s ease-in;
  transition: color .15s ease-in;
  color: #b9b9b9;
  text-transform: uppercase;
  font-size: .75rem;
  margin: 0 0 0 1.25em;
  padding-top: .1em;
}

footer .item:hover {
  color: #f9f9f9;
}

footer .right {
  margin-top: .4em;
  margin-left: auto;
}

/* .footer>.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
} */



/* --------------- Custom page CSS  -------------------------------------------------- */

/* Navigation area 
--------------------------------------------------- */

.navbar-custom {
  background-color: rgba(19, 34, 49, 0.9) !important;
}

.main-logo{
  width: 136px;
  /* width: 184px;
  height: 49px; */
  /* width: 228px;
  height: 45px; */
  /* width: 194px;
  height: 43px; */
}

#navigation{
  font-size: 13px;
}

#navigation .text-dark {
  text-transform: uppercase;
  padding: 1.1875em 1.125em;
}

#navigation .dropdown-toggle::after{
  color: #5247c3;
}


#navigation .dropdown-item{
  font-size: 0.800rem;
  color: rgba(213, 211, 232, 0.6313725490196078);
}

#navigation .dropdown-item:hover{
  background-color: #0f1f2b;
  color: #fff !important;
}

#navigation .dropdown-divider{
  border-top: 1px solid #5247c3;
}

#navigation .dropdown-header{
  font-size: 0.800rem;
  color: #9496a9;
}

#navigation .dropdown-menu{
  background-color: #101d2b;
}

#navigation .text-custom {
  color: rgba(213, 211, 232, 0.6313725490196078);
}

#navigation .text-custom:hover{
  color: #aba5ef;
}

/* .border-top {
  border-top: 1px solid #e5e5e5;
} */


/* .box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
} */

.border-bottom {
  border-bottom: 1px solid transparent !important;
}


#navigation .btn-xs {
  background: #5247c3;
  border: solid 1px #5247c3;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.800rem;
  font-weight: 600;
  line-height: 30px;
  margin-left: 16px;
  padding: 0 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  appearance: none;
  /* transition: background 300ms ease-out; */
  border-radius: 2px;
  box-sizing: border-box;
  /* transition: transform 100ms ease-in-out !important; */
}

#navigation .btn-xs:hover {
  background: #7065de;
  border: solid 1px #7065de;
}



.avatar-image--large {
  width: 175px;
  height: 175px;
}

.avatar-image {
  display: inline-block;
  vertical-align: middle;
  border-radius: 999em;
}


/* Profile area 
--------------------------------------------------- */

#profile{
  overflow: hidden;
}

@media (min-width: 1236px){
  #profile .container{
    max-width: 1190px;
  }
}

#userProfile .background{
  height: 465px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.previewCoverUrl{
  position: absolute;
  top: -26px;
  width: 97.5% !important;
  z-index: 0;
}

#userProfile .background:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(36, 45, 58, 0.15);
}

#userProfile>#about{
  max-height: 491px;
}

#userProfile>#about>.row.header {
  /* margin-top: .25rem; */
  padding-bottom: 0 !important;
}

#userProfile>#about>.row.menu {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  position: relative;
  top: -200px;
}


#userProfile>#about>.row.menu>.column .details {
  left: 283px;
  /* top: 101px; */
  top: 76px;
  margin-left: 1rem;
  color: #f9f9f9;
  text-shadow: 0 0 3px rgba(0, 0, 0, .8);
}

#userProfile>#about>.row.menu>.column .details {
  display: inline-block;
  position: absolute;
}

#userProfile>#about>.row.menu>.column .details .name {
  text-transform: capitalize;
  color: #fff;
  margin: 0;
}

#userProfile>#about>.row.menu>.column .actions .button {
  padding: 8px 40px !important;
  font-size: 12px;
  border-radius: 5px;
  letter-spacing: .05em;
  transition: all .2s ease;
  position: absolute;
  right: 48px;
}

#userProfile>#about>.row.menu>.column .actions .button:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

#userProfile>#about>.row.menu>.column .actions .button--light-outline {
  background-color: rgba(82, 71, 195, 0.31);
  border: 1px solid rgba(82, 71, 195, 0.15);
  color: rgba(255, 255, 255, 0.6);
  padding: 10px 60px;
  box-shadow: 0 0 0px transparent;
}


#userProfile>#about>.row.menu>.column .actions .selected {
  color: #fff;
  background: #5247c3;
  border: 1px solid rgba(82, 71, 195, 0.15);
  padding: 10px 60px;
  box-shadow: 0 0 0px transparent;
}

#userProfile>#about>.row.menu>.column .actions .cancel {
  right: 174px !important;
  background: #7a7b80 !important;
  box-shadow: 0 0 0 0 rgb(82, 71, 195);
  border: none;
  color: #fff;
  transition:right 10s linear;
  border: 2px solid #9e9e9e;
  z-index: 1;
  position: absolute;
}
#userProfile>#about>.row.menu>.column .actions .cancel:hover {
  background: #a3a6b1 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#userProfile>#about>.row.menu>.column .actions .button--light-outline:hover {
  color: #fff;
  background: #5247c3;
}


#userProfile>#about>.row.menu>.column .actions .button .selected:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}


.pulse-button-normal {
  text-transform: capitalize;
  color: #fff;
  position: absolute;
  right: 48px;
  padding: 8px 18px !important;
  letter-spacing: .05em;
  border: 2px solid #4f4d6b;
  box-shadow: 0 0 0 0 rgb(81, 79, 103);
  border-radius: 5px;
  background-color: #2f2d46;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: -13px;
  font-size: 12px;
  z-index: 1;
  position: absolute;
}

.pulse-button-normal:hover {
  background-color: #413f5a;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


.pulse-button {
  text-transform: capitalize;
  color: #fff;
  font-size: 12px;
  position: absolute;
  right: 48px;
  padding: 8px 40px !important;
  letter-spacing: .05em;
  border: 2px solid #6253ff;
  box-shadow: 0 0 0 0 rgb(82, 71, 195);
  border-radius: 5px;
  background-color: #5247c3;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  z-index: 1;
  position: absolute;
}

.pulse-button:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

#userProfile>#about>.row.menu>.column .avatar {
  left: 50px;
  top: 23px;
  z-index: 2;
  width: 175px;
  height: 175px;
  position: relative;
}

#userProfile>#about>.row.menu>.col-md-12 .avatar img {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  border-radius: 999em;
  border: 4px solid #5247c3;
}

#userProfile>#about>.row.menu>.column .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 275px;
  padding-right: 100px;
  width: 100%;
  height: 50px;
  background: #182231;
  border-top: 2px solid #5247c3;
  position: relative;
  /* top: -200px; */
}


#userProfile>#about>.container>.row.menu>.column .actions .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: 10px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

#userProfile>#about>.row.menu>.column .actions .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

#userProfile>#about>.row.menu>.column .actions .nav-link:hover {
  color: #b0abe2;
}

.profile-account-info{
  /* margin-left: 59px; */
}

.profile-account-info-editing{
  background-color: #182231;
  border-radius: 4px;
  margin-top: 33px;
  padding: 10px 15px 6px 15px;
  position: relative;
  z-index: 3;
  border: 2px solid #354969;
  box-shadow: 0 0 0 0 rgb(20, 17, 58);
}

.profile-account-info-editing-screenname{
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
  color: #a49bff;
}

.profile-account-info-editing .form-control{
  margin-bottom: 7px;
  background-color: #ffffff;
  border: 2px solid #6253ff;
  font-size: 13px;
}

.profile-header-card{
  /* margin-bottom: 16px; */
  /* margin-top: 35px; */
}

.profile-header-card-name {
  line-height: 1;
  margin-bottom: -2px;
}

.profile-header-card-namelink {
  font-size: 15px;
  /* font-weight: bold; */
  line-height: 28px;
  margin-right: 2px;
  word-wrap: break-word;
}

.profile-header-screen-name{
  margin: 0;
}

.profile-header-card-screennamelink {
  color: #657786;
  font-size: 14px;
}

.profile-header-card-birthdate,
.profile-header-card-joinDate,
.profile-header-card-location,
.profile-header-card-bio,
.profile-header-card-url{
  color: #657786;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
  position: relative;
}

.profilePage-editingOverlay {
  background-color: #253446;
  bottom: 0;
  display: block;
  left: 0;
  opacity: .8;
  -ms-filter: "alpha(opacity=80)";
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

/* .profilePage-editingOverlay{
  display: none;
} */

.profile-middle-centerAlignment{
  padding: 0;
  margin-top: 10px;
}



.bookmark-streams{
  position: relative;
  margin-left: -12px;
  padding-left: 15px;
  list-style: none;
  width: 100%;
}

.bookmark-item {
  position: relative;
  min-height: 51px;
  padding: 32px 12px;
  /* margin-bottom: -15px; */
  border-bottom: 1px solid #5247c3;
  /* cursor: pointer; */
  padding-bottom: 17px;
}

.bookmark-item:hover {
  background-color: #18223191;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bookmark-item-header {
  display: flex;
}

.bookmark .content .avatar {
  float: left;
  margin-top: -8px;
  margin-left: -6px;
  width: 51px;
  height: 73px;
  margin-right: 6px;
}

.bookmark .placeholder{
  position: absolute;
  top: 24px;
  left: 6px;
  width: 51px;
  height: 73px;
  margin-right: 6px;
  z-index: -1;
}

.bookmark .content-title{
  font-size: 12px;
  color: #a09ade;
}

.bookmark .alt-names{
  font-size: 11px;
  color: #9e9da2;
}

.bookmark>.context {
  margin-left: 58px;
}

.bookmark-item .options{
  /* display: none; */
  opacity: 0;
  transition: visibility 0s,opacity 0.5s linear;
  text-align: center;
  margin-left: 42px;
}

.bookmark-item:hover .options {
  /* display: block; */
  visibility: visible;
  opacity: 1;
}

/* .bookmark-item .options:hover {
  display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
} */

.bookmark-item .options i{
  margin-right: 66px;
  font-size: 16px;
  position: relative;
  top: 9px;
  cursor: pointer;
}

.bookmark-item .options i:hover{
  color: #877cf7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bookmark-item .options .no{
  cursor: inherit;
}

.BookmarkTextSize.BookmarkTextSize--normal {
  font-size: 11px;
  line-height: 20px;
  font-weight: normal;
}

.bookmark .js-bookmark-text {
  white-space: pre-wrap;
}

.bookmark p {
  word-wrap: break-word;
}

/* .cblock {
  padding: 12px;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, sans-serif;
  overflow: hidden;
  background: #000;
  border: 1px solid #262626;
  border-radius: 2px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
} */


.settings-overlay-button {
  position: absolute;
  top: 22px;
  background-color: rgba(6, 0, 84, 0.41);
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  border: 2px solid #0b1549;
  z-index: 1;
}

.settings-overlay-button:hover {
  background-color: rgba(222, 220, 220, 0.04);
}

.settings-overlay-cover {
  position: absolute;
  z-index: 2;
  background-color: rgba(6, 0, 84, 0.41);
  display: block;
  width: 97.7%;
  height: 94.7%;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border: 2px solid #0b1549;
}

.settings-overlay-cover:hover {
  background-color: rgba(222, 220, 220, 0.04);
}

.overlay-text {
  position: relative;
  display: block;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  color: #FFF;
}

.overlay-text svg {
  fill: #FFF;
  width: 30px;
  height: 30px;
}



/* Anime Detail CSS
--------------------------------------------------- */

#detail #head {
  z-index: 0;
  position: relative;
  height: 450px;
  padding: 0;
}

#detail .vertical-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 10%;
}

#detail #head>.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: -webkit-linear-gradient(top, rgba(23, 23, 23, .2) 0, #242d3a);
  background: linear-gradient(180deg, rgba(23, 23, 23, .2) 0, #242d3a);
  z-index: 0;
}

#detail #head:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  box-shadow: 0 2px #25303d;
}

.segment {
  background: #1b1c1d;
  padding: 1em;
}

#detail #head>.content {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#detail #head>.content .head-title{
  width: 75%;
  margin-left: auto;
}

#detail #head>.content h1 {
  color: #f9f9f9;
  font-weight: 700;
  margin-bottom: 1.75em;
  font-size: 2.1rem;
}

#detail #head>.content  h1>small {
  display: block;
  margin-top: .25rem;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1;
}

#info #head>.content .horizontal.list {
  margin: 0 0 1.5em;
}

.horizontal .button {
  color: #fff;
  margin-right: 9px;
  border: 2px solid #5247c3;
  padding: 10px 60px;
  box-shadow: 0 0 0px transparent;
}

.horizontal .button:hover {
  background: #5247c3;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.horizontal.list {
  font-size: 14px;
  position: relative;
  bottom: 32px;
}


#detail .cover {
  z-index: 1;
  margin-top: -200px;
  margin-bottom: 1rem;
  position: relative;
}

#detail #anime-info {
  margin: 1rem 0 0;
  width: 75% !important;
  margin-left: auto;
  margin-top: -12%;
}

#detail .action-buttons .bookmarked {
  color: #fff;
  background: #2f2d46;
  border: 1px solid rgba(82, 71, 195, 0.15);
  padding: 10px 60px;
  box-shadow: 0 0 0px transparent;
  border: 2px solid #4f4d6b;
  box-shadow: 0 0 0 0 rgb(81, 79, 103);
  cursor: pointer;
  right: auto;
}

#detail .action-buttons .button {
  padding: 8px 18px !important;
  font-size: 12px;
  border-radius: 5px;
  letter-spacing: .05em;
  transition: all .2s ease;
  position: absolute;
  /* right: 48px; */
}

/* #detail #content .cover {
  position: relative;
}

#detail #content .cover>img {
  box-shadow: 0 2px 6px rgba(0, 0, 0, .35);
  width: 100%;
  height: auto;
}

#detail #info{
  margin: 1rem 0 0;
  width: 75% !important;
  margin-left: auto;
}  */

/* Media Queries 
--------------------------------------------------- */

@media only screen and (min-width: 1025px) {
  #header {
    height: 85px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  #userProfile .row .col-lg-12 {
    padding: 0;
  }
  #userProfile .background {
    height: 265px;
  }
  #userProfile>#about {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media (min-width: 544px) {
  .modal-dialog {
    max-width: 600px;
    margin: 30px auto;
  }
}

