<template>
  <div>
    <app-header></app-header>
        <div class="container">
          <transition name="slide" mode="out-in">
            <router-view/>
          </transition>
        </div>
    <app-footer></app-footer>
  </div>
</template>
<script>
import NavComponent from './components/Inc/NavComponent';
import FooterComponent from './components/Inc/FooterComponent';
export default {
  name: 'App',
  components: {
    'app-header' : NavComponent,
    'app-footer' : FooterComponent
  }
}
</script>
<style>
  /* Animation Between Routes */

  .slide-enter-active {
    animation: slide-in 400ms ease-out forwards;
  }

  .slide-leave-active {
    animation: slide-out 400ms ease-out forwards;
  }

  @keyframes slide-in {
    from {
      transform: translateY(-30px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-out {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-30px);
      opacity: 0;
    }
  }
</style>


