<template>
  <div>
    <h2>Home</h2>
    <!-- <p>{{ welcome }}</p> -->
  </div>
</template>
<script>
export default {
  name: 'home',
  // computed: {
  //   auth(){
  //     axios.get('/api/user')
  //       .then(res => {
  //         this.users = res.data
  //       })
  //       .catch(e =>{
  //         this.errros.push(e);
  //       })
  //   }
  // }
}
</script>

