<template>
    <footer class="footer">
      <a href="http://" class="item brand"><img src="/images/Logo_symbol.png" alt="trueanimeclub"></a>
      <a href="/privacy" class="item">Privacy</a>
      <div class="right"><a href="">some</a></div>
    </footer>
</template>
