<template>
  <header>
    <!-- Fixed navbar -->
    <div id="header" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 navbar-custom border-bottom box-shadow fixed-top">
      <!-- <a href="/" class="my-0 mr-md-auto font-weight-normal"><img class="main-logo" src="/images/TrueAnimeClub_logo.png" alt="trueanimelogo"></a> -->
      <a href="/" class="my-0 mr-md-auto font-weight-normal"><img class="main-logo" src="/images/TrueAnimeClub_logo.svg" alt="trueanimelogo"></a>
      <nav id="navigation" class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-custom" href="#">Features</a>
        <a class="p-2 text-custom" href="#">Enterprise</a>
        <a class="p-2 text-custom" href="#">Support</a>
        <a v-if="authUser" class="dropdown-toggle" href="" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
        <img :src="'/storage/user_avatar_images/' + authUser.avatar" :title="'You are authorized! ' + authUser.display_name " class="avatar-image avatar-image--small" style="width: 35px;height: 35px;border-radius: 999em;">
        </a>
          <div v-if="authUser" class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
            <h6 class="dropdown-header">{{ authUser.display_name }}</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" :href="'/profile/u/' + authUser.display_name">View Profile</a>
            <a class="dropdown-item" :href="'/settings/u/' + authUser.display_name">Settings</a>
            <a v-if="authUser.role == 1" class="dropdown-item" href="/admin" target="_blank">Admin Dashboard</a>
            <a class="dropdown-item" href="/logout">Logout</a>
            <!-- <a class="dropdown-item" :href="url">Logout</a> -->
          </div>
        <a v-if="!authUser" href="/register" class="btn-xs btn header_sign_up_link" data-aa-title="nav-signup-cta">Sign up</a>
        <a v-if="!authUser" class="btn-xs btn header_sign_up_link" href="/login">Log in</a>
      </nav>
    </div>
  </header>
</template>
<script>
export default {
  //  props : {
  //    user:{
  //      type: Object,
  //     //  required: true,
  //      default(){
  //        return{
           
  //        }
  //      }
  //    }
  //  },
  created () {
    console.log(this.authUser)
  },
  computed: {
    authUser(){
      return !this.$store.getters.currentUser ? false : this.$store.getters.currentUser;
    }
  }
}
</script>

