<template>
  <div class="col-sm-12 col-md-6 profile-middle-centerAlignment">
    <div id="bookmark-timeline">
        <div class="container">
          <div class="row">
          <ol class="bookmark-streams">
            <li class="bookmark-item" v-for="bookmark in bookmarks[0]" :key="bookmark.id">
              <div class="bookmark">
                <div class="content">
                  <p style="float:right;" class="BookmarkTextSize BookmarkTextSize--normal js-bookmark-text bookmark-text">Updated: {{ bookmark.anime.updated_at | moment("from", "now") }}</p>
                    <img class="placeholder" :src="'/storage/anime_poster_images/default_anime_poster.png'" alt="placeholder">
                    <img class="avatar" :src="'/storage/anime_poster_images/' + bookmark.anime.anime_poster" :alt="bookmark.anime.anime_poster">
                  <div class="content-right">
                    <div class="content-title"><a :href="'/anime/det/' + bookmark.anime.slug">{{ bookmark.anime.title }}</a></div>
                    <span class="alt-names">{{ bookmark.anime.title_japanese }} {{ bookmark.anime.title_synonyms }} {{ bookmark.anime.title_english }}</span>
                    <!-- <p class="BookmarkTextSize BookmarkTextSize--normal js-bookmark-text bookmark-text">Updated: {{ bookmark.anime.updated_at | moment("from", "now") }}</p> -->
                    <!-- <p class="BookmarkTextSize BookmarkTextSize--normal js-bookmark-text bookmark-text">"The world is a better place with you in it. Keep shining"</p> -->
                  </div>
                </div>
              </div>
              <div class="options">
                <span v-if="authUser.display_name == routeName">
                  <i v-if="bookmark.favorite == 1" style="color:red" class="fa fa-heart" aria-hidden="true" @click="favoriteBookmark(bookmark.id)"></i>
                  <i v-else class="fa fa-heart-o" aria-hidden="true" @click="favoriteBookmark(bookmark.id)"></i>
                </span>
                <span v-else>
                  <i v-if="bookmark.favorite == 1" style="color:red" class="fa fa-heart no" aria-hidden="true"></i>
                </span>
                <span>
                  <!-- <i class="fa fa-check-circle-o" style="color: #41ff6d;" aria-hidden="true"></i> -->
                  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                </span>
                <span>
                  <!-- <i class="fa fa-eye" style="color: #5dd7ff;" aria-hidden="true"></i> -->
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </span>
                <span>
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                </span>
                <span>
                 <!-- <i class="fa fa-star-half-o" style="color: yellow;" aria-hidden="true"></i> -->
                 <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </span>
                <i class="fa fa-trash-o" aria-hidden="true" @click="removeBookmark(bookmark.id)"></i>
                </div>
            </li>
            </ol>
          </div>
        </div>
      </div>
  </div>
</template>
<script>
export default {
  props: {
    userId:{
      type: Number,
      required: true
    },
    bookmarkId:{
      type: Number,
    }
  },
  data () {
    return {
      bookmarkErrors: [],
      routeName: this.$route.params.display_name,
    }
  },
  created () {
    // return this.$store.dispatch('getAllBookmarks', this.userId)
    // this.getBookmarkTest();
    this.getAllBookmarks();
  },
  computed: {
    bookmarks(){
      return !this.$store.getters.bookmarks ? false : this.$store.getters.bookmarks;
    },
    authUser(){
      return !this.$store.getters.currentUser ? false : this.$store.getters.currentUser;
    },
  },
  methods: {
      getAllBookmarks(){
        return this.$store.dispatch('getAllBookmarks', this.userId)
      },
      removeBookmark(id){
        axios.get('/api/v1/bookmark/delete/' + id)
          .then(res =>{
            console.log(res);
            this.getAllBookmarks();
          })
          .catch(error =>{
            console.log(error);
          })
      },
      favoriteBookmark(id){
        axios.get('/api/v1/bookmark/favoriteBookmark/' + id)
          .then(res =>{
            console.log(res);
            this.getAllBookmarks();
          })
          .catch(error =>{
            console.log(error);
          })
      }
  }
}
</script>

