<template>
  <div id="profile">
    <div class="container">
      <div v-if="isEdit" class="profilePage-editingOverlay"></div>
      <div id="userProfile" v-for="user in userObject" :key="user.id">
      <div id="about">
        <div class="row header">
          <div class="col-xl-12 column">
            <div class="cover">
            <label for="cover-input" style="display: inline;">
            <a v-show="isEdit" class="settings-overlay-cover"><span class="overlay-text"><svg width="25" height="25" viewBox="0 0 25 25" class="svgIcon-use"><g fill-rule="evenodd"><path d="M4.042 17.05V8.857c0-1.088.842-1.85 1.935-1.85H8.43C8.867 6.262 9.243 5 9.6 5.01L15.405 5c.303 0 .755 1.322 1.177 2 0 .077 2.493 0 2.493 0 1.094 0 1.967.763 1.967 1.85v8.194c-.002 1.09-.873 1.943-1.967 1.943H5.977c-1.093.007-1.935-.85-1.935-1.937zm2.173-9.046c-.626 0-1.173.547-1.173 1.173v7.686c0 .625.547 1.146 1.173 1.146h12.683c.625 0 1.144-.53 1.144-1.15V9.173c0-.626-.52-1.173-1.144-1.173h-3.025c-.24-.63-.73-1.92-.873-2 0 0-5.052.006-5 0-.212.106-.87 2-.87 2l-2.915.003z"></path><path d="M12.484 15.977a3.474 3.474 0 0 1-3.488-3.49A3.473 3.473 0 0 1 12.484 9a3.474 3.474 0 0 1 3.488 3.488c0 1.94-1.55 3.49-3.488 3.49zm0-6.08c-1.407 0-2.59 1.183-2.59 2.59 0 1.408 1.183 2.593 2.59 2.593 1.407 0 2.59-1.185 2.59-2.592 0-1.406-1.183-2.592-2.59-2.592z"></path></g></svg> <h6 style="font-size: 15px;">Update your background cover</h6></span></a>
            </label>
            <div class="background" v-bind:style="{ 'background-image': 'url( /storage/user_cover_images/' + user.cover + ')' }"></div>
             <div v-if="previewCoverUrl" class="background previewCoverUrl" v-bind:style="{ 'background-image': 'url( ' + previewCoverUrl + ')' }"></div>
            <input id="cover-input" type="file"  @change="onCoverChange" class="form-control" style="display: none;">
            </div>
          </div>
        </div>
          <div class="row menu">
            <div class="col-md-12 column">
              <div class="details">
                <h1 class="name">{{ user.display_name }}</h1>
                <p>{{ user.bio }}</p>
              </div>
              <div class="avatar">
                   <label for="avatar-input">
                  <a v-show="isEdit" class="settings-overlay-button">
                    <span class="overlay-text"><svg width="25" height="25" viewBox="0 0 25 25" class="svgIcon-use"><g fill-rule="evenodd"><path d="M4.042 17.05V8.857c0-1.088.842-1.85 1.935-1.85H8.43C8.867 6.262 9.243 5 9.6 5.01L15.405 5c.303 0 .755 1.322 1.177 2 0 .077 2.493 0 2.493 0 1.094 0 1.967.763 1.967 1.85v8.194c-.002 1.09-.873 1.943-1.967 1.943H5.977c-1.093.007-1.935-.85-1.935-1.937zm2.173-9.046c-.626 0-1.173.547-1.173 1.173v7.686c0 .625.547 1.146 1.173 1.146h12.683c.625 0 1.144-.53 1.144-1.15V9.173c0-.626-.52-1.173-1.144-1.173h-3.025c-.24-.63-.73-1.92-.873-2 0 0-5.052.006-5 0-.212.106-.87 2-.87 2l-2.915.003z"></path><path d="M12.484 15.977a3.474 3.474 0 0 1-3.488-3.49A3.473 3.473 0 0 1 12.484 9a3.474 3.474 0 0 1 3.488 3.488c0 1.94-1.55 3.49-3.488 3.49zm0-6.08c-1.407 0-2.59 1.183-2.59 2.59 0 1.408 1.183 2.593 2.59 2.593 1.407 0 2.59-1.185 2.59-2.592 0-1.406-1.183-2.592-2.59-2.592z"></path></g></svg><h6 style="font-size: 15px;">Avatar</h6></span></a>
                 </label>
                  <img :src="'/storage/user_avatar_images/' + user.avatar" alt="">
                  <img v-if="previewAvatarUrl" :src="previewAvatarUrl" style="position: absolute;top: 20px;" />
                <input id="avatar-input" type="file"  @change="onImageChange" class="form-control" style="display: none;">
              </div>
              <div class="actions">
                <ul class="nav">
                  <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                  <li class="nav-item"><a class="nav-link" href="#settings" role="tab">Settings</a></li>
                </ul>
                <button v-if="authUser.display_name == routeName" class="button selected" @click="isEdit = !isEdit" v-show="!isEdit">
                  <span class="button-label button-defaultState">Edit</span>
                </button>
                 <button v-if="authUser.display_name == routeName && isEdit == true" class="button cancel" @click="cancelChanges">
                  <span class="button-label button-defaultState">Cancel</span>
                </button>
                  <button v-if="authUser.display_name == routeName && isEdit == true && image || cover || bio || name || textInputField" class="pulse-button" @click="uploadImage">
                      <span class="button-label button-defaultState">Save</span>
                  </button>
                  <button v-if="authUser.display_name == routeName && isEdit == true && !image && !cover && !bio && !name && !textInputField" class="pulse-button-normal">
                      <span class="button-label button-defaultState">Save changes</span>
                  </button>
              </div>
            </div>
          </div>
        </div>
        <!-- change profile view -->
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <div class="profile-sidebar-leftAlignment">
              <div class="profile-account-info" v-show="!isEdit">
                <div class="profile-header-card">
                  <h1 class="profile-header-card-name"><a href="#" class="profile-header-card-namelink">{{ user.name }}</a></h1>
                  <h2 class="profile-header-screen-name"><a href="#" class="profile-header-card-screennamelink">{{ user.display_name }}</a></h2>
                </div>
                <div class="profile-header-card-joinDate">
                  <span>Joined {{ user.created_at | moment("MMMM YYYY") }}</span>
                </div>
                <div class="profile-header-card-bio">
                  <span>Bio - {{ user.bio }}</span>
                </div>
              </div>
              <div class="profile-account-info-editing" v-show="isEdit">
                <div class="profile-account-info-editing-screenname">
                  <span>{{ user.display_name }}</span>
                </div>
                <label>Full Name</label>
                <input id="name-input" type="text"  v-model="user.name" @click="textInputField = !textInputField" class="form-control">
                <label>Bio Description</label>
                <input id="bio-input" type="text" v-model="user.bio" @click="textInputField = !textInputField" class="form-control">
              </div>
            </div>
          </div>
            <bookmark-view :userId="user.id"></bookmark-view>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import bookmarks from "./bookmarks";
export default {
  components: {
      'bookmark-view': bookmarks
  },
  data () {
    return {
      userObject:{},
      routeName: this.$route.params.display_name,
      isEdit: false,
      image: null,
      cover: null,
      bio: null,
      name: null,
      previewAvatarUrl: null,
      previewCoverUrl: null,
      textInputField: false
      // overlay: 'display:none'
    }
  },
  mounted () {
    // this.getUser();
    return this.$store.dispatch('getUser', this.routeName);
  },
  created () {
    // return this.$store.dispatch('getAllAnime')
    this.getUser()
  },
  computed: {
    authUser(){
      return !this.$store.getters.currentUser ? false : this.$store.getters.currentUser;
    },
    // users(){
    //   return !this.$store.getters.user ? false : this.$store.getters.user;
    // },
    errors(){
      return !this.$store.getters.Error ? false : this.$store.getters.Error;
    },
    // animes(){
    //   return !this.$store.getters.anime ? false : this.$store.getters.anime;
    // },
  },
  methods: {
    getUser(){
      axios.get('/api/v1/profile/u/'+ this.$route.params.display_name)
        .then(res =>{
            this.userObject = res.data
        })
        .catch(e =>{
            this.errors.push(e)
        })
      },
      onImageChange(e) {
          let files = e.target.files || e.dataTransfer.files;
          if (!files.length)
              return;
          this.createImage(files[0]);
      },
      createImage(file) {
          let reader = new FileReader();
          let vm = this;
          reader.onload = (e) => {
              vm.image = e.target.result;
          };
          this.previewAvatarUrl = URL.createObjectURL(file);
          reader.readAsDataURL(file);
      },
      onCoverChange(e) {
          let files = e.target.files || e.dataTransfer.files;
          if (!files.length)
              return;
          this.createCover(files[0]);
      },
      createCover(file) {
          let reader = new FileReader();
          let vm = this;
          reader.onload = (e) => {
              vm.cover = e.target.result;
          };
          this.previewCoverUrl = URL.createObjectURL(file);
          reader.readAsDataURL(file);
      },
      uploadImage(){
          this.name = this.userObject.data.name;
          this.bio = this.userObject.data.bio;
          // console.log(this.name)
          axios.post('/api/v1/profile/u/'+ this.$route.params.display_name +'/update',{image: this.image, cover: this.cover, name: this.name, bio: this.bio})
          .then(response => {
              console.log(response);
              this.getUser()
          })
          .then(
            this.isEdit = false,
            this.previewAvatarUrl = null,
            this.previewCoverUrl = null,
            this.image = null,
            this.cover = null,
            this.textInputField = false,
            this.name = null,
            this.bio = null
          )
          .catch(e =>{
            console.log(e);
          });
      },
      cancelChanges(){
        this.isEdit = false
        this.previewAvatarUrl = null
        this.previewCoverUrl = null
        this.image = null
        this.cover = null
        this.name = null
        this.bio = null
        this.textInputField = false
      }
  }
}
</script>

